@model Ecommerce_web_app.Models.Page

@{
	ViewData["Title"] = "Tạo mới Page";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Style{
	<link href=" ~ /AdminAsset/summernote/summernote.css" rel="stylesheet" />"
	<link href="~/AdminAsset/summernote/summernote-bs4.css" rel="stylesheet" />
}

<div class="header-sub-title col-md-6">
	<nav class="breadcrumb breadcrumb-dash">
		<a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon-home m-r-5"></i>Home</a>
		<a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminPages" asp-action="Index">Danh sách Page</a>
		<span class="breadcrumb-item active">Tạo mới Page: page @ViewBag.CurrentPage </span>
	</nav>
</div>
<div class="card">
	<div class="card-body">
		
		<form asp-action="Create" method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="PageName">Tên Page</label>
				<input type="text" class="form-control" asp-for="PageName">
				<span asp-validation-for="PageName" class="text-danger"></span>

			</div>



			<div class="form-group">
				<label class="font-weight-semibold">Ảnh đại diện</label>
				<input name="fThumb" type="file" class="form-control-file" asp-for="Thumb">
				<span asp-validation-for="Thumb" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Title">Title</label>
				<input asp-for="Title" type="text" class="form-control">
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="MetaDesc">MetaDesc</label>
				<input asp-for="MetaDesc" type="text" class="form-control">
				<span asp-validation-for="MetaDesc" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="MetaKey">MetaKey</label>
				<input asp-for="MetaKey" type="text" class="form-control">
				<span asp-validation-for="MetaKey" class="text-danger"></span>
			</div>

	<div class="form-group">
		<input type="submit" value="Tạo mới Page" class="btn btn-primary" />
	</div>
	<button class="btn btn-light"><a asp-action="Index">Đóng</a></button>
	</form>
</div>
</div>



@section Scripts{
	<script src="~/AdminAsset/summernote/summernote-bs4.js"></script>
	<script>
		jQuery(document).ready(function () {
			$('.summernote').summernote({
				fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
				styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5']
												height: 200,
				minHeight: null,
				maxHeight: null,
				focus: true
			});
		});
	</script>
}